<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-text color="text" colors="primary">
      <h1>Todo {{itemCount}}</h1>
    </ion-text>
    <ion-list>
      <ion-item>
        <ion-input type="text" name="newItem" placeholder="Add item" [(ngModel)]="newItem"></ion-input>
        <ion-button color="primary" (click)="addItem()">Add</ion-button>
      </ion-item>
    </ion-list>
    <ion-list *ngFor="let item of items">
      <ion-item>
        {{item}}
      <ion-icon name="trash" (click)="removeItem(i)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>